*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: lightslategray;
}
 .container{
     position: absolute;
     overflow: hidden;
     /* display: flex; */
} 
@media (min-width:500px) {
    .container{
        position: relative;
     display: flex;
        flex-direction: column;
    }
    
}


h1{
    background-color: #081b31;
    color: whitesmoke;
    height: 6rem;
    line-height: 5rem;
   
}
.choice{
    height: 210px;
    width: 210px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
@media (max-width:723px) {
    .choices{
        flex-direction: column;
    }
    
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 9rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
#msg{
    margin: 2rem;
    background-color: #081b31;
    color: whitesmoke;
    height: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
